# Copyright 2026 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HW_BOARD_imx943evk_cm33_core1
    bool
    default y
    imply MCUX_COMPONENT_middleware.freertos-kernel.cm33_non_trustzone if MCUX_COMPONENT_middleware.freertos-kernel
